<div class="modal fade" id=<%= id %> tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <% if existing %>
                    <h5 class="modal-title">Details</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                        </div>
                    </div>
                <% else %>
                    <h5 class="modal-title">New List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <% end %>
            </div>
            <div class="modal-body">
                <%= render "form", list: list, path: existing ? list_path(list) : lists_path(list) %>
            </div>
        </div>
    </div>
</div>