<div class="list-group">
    <% if list %>
        <% list.tasks.each do |task| %>
            <%= render 'tasks/list_item', list: list, task: task, complete_path: list_task_complete_path(list, task) %>
        <% end %>
    <% else %>
        <% tasks.each do |task| %>
            <%= render 'tasks/list_item', list: nil, task: task, complete_path: task_complete_path(task) %>
        <% end %>
    <% end %>
</div>