<div class="container py-4">
    <div class="d-flex justify-content-between">
        <h2>Details</h2>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Delete', list_task_path(@list, @task), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
            </div>
        </div>
    </div>

    <hr class="mt-0" />

    <%= render 'form', task: @task %>
</div>
