<div class="jumbotron text-center">
  <h1 class="display-3">GET SHIT DONE</h1>
  <p class="lead">A to-do app to make your life more productive.</p>
  <p class="lead">Completionist + You = MONEY MAKING MACHINE!!!</p>
  <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-primary btn-lg" %>
</div>