<div id="background" class="flex-grow-1">
    <div class="d-flex flex-column justify-content-center align-items-center text-white text-center h-100">
        <h1 class="display-3"><span style="background: black;">&nbsp;Completionist&nbsp;</span></h1>
        <h4 class="display-4"><span style="background: black;">&nbsp;Welcome to a More Productive Life&nbsp;</h4>

        <div class="btn-group" role="group">
            <%= link_to 'Sign In', new_user_session_path, :class => "btn btn-primary btn-lg" %>
            <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-info btn-lg" %>
        </div>
    </div>
</div>
