$theme-colors: (
  "primary": #0063B7
);
$enable-gradients: true;
$font-family: Bangers;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=#{$font-family}');

body {
    font-family: $font-family;
}